
.category{
    
    padding: 40px ;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    text-align: center;
    box-shadow: 10px;
    transition: 1.5s;
    margin-bottom: 10px;

}

.category:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
}

.categories{
    padding:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 400px) {
    .container{
       width:100%;
    }

    .categories {
        padding:30px;
    }

    .category {
        padding:10px;
        width:100%;
    }
}
